

<% unless @fee_category.blank? %>
  <div class="batch_select_box">
    <div class="label-field-pair">
      <label> <%= t('select_batch') %>:
        <b class="sel-list">
          <%= link_to_function t('all'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = true; });" %>,
          <%= link_to_function t('none'), "$$('input.batches_box').each(function(checkbox) { checkbox.checked = false; });" %>
        </b>
      </label>
    </div>
    <div class="fee_category_scroll">
      <% @fee_category.each do |f| %>
        <div class="each_batch">
          <% checked = true %>
          <% unless params[:fee_collection].nil? %>
            <% checked = params[:fee_collection][:category_ids].include?(f.id.to_s) if params[:fee_collection][:category_ids].present? %>
          <% end %>
          <%= check_box_tag "fee_collection[category_ids][]", f.id, checked, :class=>'batches_box' %> <%= f.batch.full_name %>
        </div>
      <% end %>
    </div>
  </div>

<% else %>
  <p class="flash-msg"> <%= t('finance.flash28') %> </p>
<% end %>